table {
  border-collapse: collapse;
}

#t1 {
  display: block;
  position: fixed;
  left: 10px;
  top: 10px;

  width: 100%;
  overflow: hidden;
}

#t2 {
  display: block;
  position: absolute;
  left: 10px;
  top: 38px; /* top margin (10) + height of #t1 (28) */

  width: 100%;
  height: 400px;
  overflow: scroll;
}

th, td {
  border: solid gray 1px;
  padding: 5px;
}

th > div, td > div {
  width: 150px;
}
